<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

             <div class="row g-3">
                <div class="col col 12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                     <label for="Recipe Image" class="form-label">Recipe Image</label>
                     <input type="file" name="" id="" class="form-control">

                </div>
                <div class="col col 12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="Recipe Title" class="form-label">Recipe Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col 12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Description" class="form-label">Description</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col 12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                     <label for="Prepared by" class="form-label">Prepared by</label>
                     <input type="text" class="form-control">

                </div>
                <div class="col col 12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="Published Date" class="form-label">Published Date</label>
                    <input type="date" name="" id="" class="form-control">
                </div>
                <div class="col col 12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-primary">Submit</button>
                </div>
             </div>

        </div>
    </div>
</div>
